<a href="https://colab.research.google.com/github/haeniKim/metaverse-academy/blob/master/ComputerVision/230830_face_ml_happy%2C_sad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 데이터 불러오기

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pickle
from sklearn import preprocessing

In [ ]:
df = pd.read_csv('hand.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,15.216397,14.270625,18.621563,62.776620,154.64711,16.532738,40.979790,155.64674,21.674616,35.557014,138.04906,27.202038,50.852910,130.192180,24.065760,0.0
1,13.646264,13.495486,17.585566,60.173855,157.13150,9.302852,41.389168,156.97595,25.398777,38.910990,134.51279,33.168133,55.165596,126.120350,34.075040,0.0
2,12.890534,12.564163,17.818335,59.301888,153.57419,13.146954,40.115055,156.74190,24.850788,37.632080,132.94589,34.391758,54.497116,121.188354,38.043200,0.0
3,14.093678,12.384450,18.533247,61.041508,148.65988,23.040478,40.464660,156.92715,21.417595,36.744793,132.39519,31.393932,54.601940,119.910030,35.334854,0.0
4,13.761367,13.235685,16.662872,60.348240,155.21844,12.457710,40.685990,156.10202,25.076008,38.817432,131.56943,34.324330,56.539880,118.877560,39.308723,0.0

In [ ]:
df[15].value_counts()

6.0    366
5.0    174
0.0    160
1.0    110
2.0    104
4.0    104
3.0    103
Name: 15, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 1405 entries, class to z468
dtypes: float64(1404), object(1)
memory usage: 1.1+ MB

* X, y값 나누기

In [ ]:
X = df.drop('class', axis =1)
X

,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,...,z465,x466,y466,z466,x467,y467,z467,x468,y468,z468
0,0.596904,0.686724,-0.025234,0.598990,0.643057,-0.055904,0.597446,0.656146,-0.027520,0.588928,...,-0.002868,0.614480,0.555606,-0.010081,0.672643,0.539828,0.012631,0.677289,0.534733,0.013124
1,0.589744,0.686270,-0.025761,0.591122,0.643424,-0.055616,0.590139,0.656584,-0.027827,0.581569,...,-0.002449,0.608071,0.555419,-0.009491,0.666706,0.539466,0.011438,0.671509,0.534007,0.011826
2,0.595297,0.686852,-0.026667,0.596528,0.642324,-0.055480,0.595390,0.656065,-0.027850,0.586267,...,-0.001371,0.611721,0.555951,-0.008566,0.669664,0.540415,0.013575,0.674425,0.535024,0.014029
3,0.593736,0.687850,-0.025588,0.595347,0.644519,-0.055780,0.594040,0.657702,-0.027630,0.584918,...,-0.002622,0.610348,0.557455,-0.009808,0.668410,0.541044,0.012272,0.673222,0.535553,0.012718
4,0.590420,0.670078,-0.025573,0.592282,0.624449,-0.054877,0.590852,0.638141,-0.027346,0.582098,...,-0.002678,0.606993,0.539950,-0.009740,0.663324,0.526182,0.012192,0.668199,0.520269,0.012760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.621399,0.645374,-0.038573,0.620503,0.598713,-0.053316,0.618965,0.617074,-0.031847,0.605471,...,0.015237,0.625778,0.523634,0.007288,0.677790,0.509492,0.034944,0.682753,0.501188,0.036268
96,0.621888,0.654686,-0.038770,0.621017,0.607032,-0.053987,0.619093,0.625228,-0.031761,0.605566,...,0.013988,0.626443,0.530258,0.006278,0.679745,0.516042,0.033850,0.684751,0.506870,0.035277
97,0.619561,0.663918,-0.037965,0.618219,0.615631,-0.055244,0.616602,0.633262,-0.031844,0.602820,...,0.011895,0.624439,0.537307,0.003975,0.678554,0.521132,0.031611,0.683785,0.511992,0.032907
98,0.621738,0.661563,-0.037442,0.620622,0.614097,-0.054620,0.618653,0.631630,-0.031418,0.604852,...,0.012134,0.625463,0.535482,0.004259,0.678695,0.519613,0.032395,0.683744,0.510451,0.033804
99,0.620975,0.669277,-0.036000,0.620485,0.622280,-0.054284,0.618087,0.639011,-0.030797,0.604932,...,0.010777,0.624912,0.539865,0.003021,0.677518,0.524346,0.030422,0.682481,0.515401,0.031747

In [ ]:
y = df['class']
y

0     happy
1     happy
2     happy
3     happy
4     happy
      ...
95      sad
96      sad
97      sad
98      sad
99      sad
Name: class, Length: 100, dtype: object

In [ ]:
df['class'].value_counts()

happy    50
sad      50
Name: class, dtype: int64

In [ ]:
le = preprocessing.LabelEncoder()
y = le.fit_transform(y)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

* Train/Test 나누기

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=100)

In [ ]:
print(len(X_train))
print(len(y_train))
print(len(X_test))
print(len(y_test))

80
80
20
20

* 어떤 모델 사용할지 설정하기

In [ ]:
pipelines = {
    'lr':make_pipeline(StandardScaler(),LogisticRegression()),
    'rf':make_pipeline(StandardScaler(),RandomForestClassifier()),
}

In [ ]:
fit_models = {}
for algo,pipelines in pipelines.items():
    print(algo)
    model = pipelines.fit(X_train,y_train)
    fit_models[algo] = model

fit_models

lr
rf

{'lr': Pipeline(steps=[('standardscaler', StandardScaler()),
                 ('logisticregression', LogisticRegression())]),
 'rf': Pipeline(steps=[('standardscaler', StandardScaler()),
                 ('randomforestclassifier', RandomForestClassifier())])}

In [ ]:
for algo, model in fit_models.items():
  yhat = model.predict(X_test)
  print(algo, accuracy_score(y_test, yhat))

lr 1.0
rf 1.0

* 모델 저장

In [ ]:
with open('face.pkl', 'wb') as f:
  pickle.dump(fit_models['lr'], f)