<a href="https://colab.research.google.com/github/haeniKim/metaverse-academy/blob/master/data_analysis/230530_python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 25
age = 30
1a = 5

SyntaxError: ignored

In [ ]:
#날짜 홀수, 짝수 구분하기
day = int(input())
if day % 2 == 0:
  print("짝수 날")
else:
  print("홀수 날")

5
홀수 날

In [ ]:
#문자열
name = '김해니'
name

'김해니'

In [ ]:
data = '''
안녕하세요
메타버스 아카데미입니다
'''

data

'\n안녕하세요\n메타버스 아카데미입니다\n'

In [ ]:
print(data)

안녕하세요
메타버스 아카데미입니다

In [ ]:
data1 = '서울시'
data2 = '강남구'

In [ ]:
result = data1 + ' ' + data2
print(result)

서울시 강남구

In [ ]:
min = '990723-2345889'

year = min[:2]
birth = min[2:6]
sex = min[7]

print("year:",year, "birth:",birth,"sex:",sex)

year: 99 birth: 0723 sex: 2

In [ ]:
data1 = 'a12364F'
data2 = 'bjridlfM'

sex = [data1[-1],data2[-1]]
sex

['F', 'M']

In [ ]:
min = '801212-12345678'

#1
pri_min = min[:7] + "*******"
print(pri_min)

801212-*******

In [ ]:
'나이 : {} {}'.format(25, 30)

'나이 : 25 30'

In [ ]:
a = 0.123456
'{0:0.2f}'.format(a)

'0.12'

In [ ]:
'{0:5.2f}'.format(a)

' 0.12'

In [ ]:
name = '홍길동'
f'이름 {name}'

'이름 홍길동'

In [ ]:
name = '     홍길동'
name.lstrip()

'홍길동'

In [ ]:
a = '서울 강남구'
a = a.replace('서울','서울시')

In [ ]:
a = '강남구 동작구 노원구'
a.split()

['강남구', '동작구', '노원구']

In [ ]:
a = 'fffmfmfmffmmm'
a.count('f')

7

In [ ]:
','.join(a)

'f,f,f,m,f,m,f,m,f,f,m,m,m'

In [ ]:
data = 'mMMmmFffFmM'
data = data.upper()
data.count('F')

4

In [ ]:
score = [100, 80, 40, 99]
name = ['홍길동','헐크','아이언맨','토르']

In [ ]:
data = [['lee', 25], ['park',22],['na',24]]

In [ ]:
data[0][0]

'lee'

In [ ]:
data = []

data.append('hwang')
data

['hwang']

In [ ]:
data.insert(0,'zhong')
data

['zhong', 'hwang']

In [ ]:
score = [88,3,86,9,23,99]
score.sort()
score

[3, 9, 23, 86, 88, 99]

In [ ]:
score.reverse()
score

[99, 88, 86, 23, 9, 3]

In [ ]:
ai_data = {'name':['나래','명진'],
           'age':[27,25]}

In [ ]:
ai_data['name']

['나래', '명진']

In [ ]:
ai_data.keys()

dict_keys(['name', 'age'])

In [ ]:
ai_data.items()

dict_items([('name', ['나래', '명진']), ('age', [27, 25])])

In [ ]:
data = {}
data['name'] = ['홍길동','헐크']

In [ ]:
score = int(input())
if score == 100:
  print("축하합니다")

100
축하합니다

In [ ]:
#아이디 : ai, 비밀번호 : ai 이면 로그인이 되었습니다.

id = input()
pw = input()

if id == pw == 'ai':
  print("로그인이 되었습니다.")

ai
ai
로그인이 되었습니다.

In [ ]:
id = 'ai'
pw = 'ai'
count = 0

if id == 'ai':
  count += 1

if pw == 'ai':
  count += 1

if count == 2:
  print("로그인이 되었습니다.")

## 문제 1 - 자료형

In [ ]:
#001
myName = "홍길동"

In [ ]:
#002
myAge = 20

In [ ]:
#003
myHeight, myWeight =175, 70

In [ ]:
#004
국어, 영어, 수학 = 77, 88, 81
국사 = 63
과학 = 97

In [ ]:
#005
total = 국어 + 영어 + 수학 + 국사 + 과학
print(total)

406

In [ ]:
#006
avg = total / 5
print(avg)

81.2

In [ ]:
#007
avg = 81.2
type(avg)

float

In [ ]:
#008
myAge = '20'
myAge = int(myAge)
type(myAge)

int

In [ ]:
#009
avg = 81.2
avg = str(avg)
type(avg)

str

In [ ]:
#010
myName = '홍길동'
myAge = '20'
print(f'{myName} {myAge}세')

홍길동 20세

In [ ]:
#011
A = "총합:"
B = total
print(A + str(B))

총합:406

In [ ]:
#012
A, B = 3, 8

print(A+B)
print(B-A)
print(A*B)
print(A**B)
print(A/B)
print(B//A)
print(A%B)

11
5
24
6561
0.375
2
3

In [ ]:
#013
text = """
Usage: thingy [OPTIONS]
  -h                              Display this usage message
  -H hostname                     Hostname to connect to
"""
print(text)

Usage: thingy [OPTIONS]
  -h                              Display this usage message
  -H hostname                     Hostname to connect to

In [ ]:
#014
print("\"따옴표를 출력해주세요\"")

"따옴표를 출력해주세요"

In [ ]:
#015
text = "1번째 줄\n2번째 줄"
print(text)

1번째 줄
2번째 줄

In [ ]:
#016
print("\"다음은 문자열 안에서 줄을 바꿀 때 사용합니다. \\n\"\n'다음 문자는 문자열 사이에 탭 간격을 줄 때 사용합니다. \\t'")

"다음은 문자열 안에서 줄을 바꿀 때 사용합니다. \n"
'다음 문자는 문자열 사이에 탭 간격을 줄 때 사용합니다. \t'

In [ ]:
#017
print("*"*50)
print("I LOVE PYTHON")
print("*"*50)

**************************************************
I LOVE PYTHON
**************************************************

In [ ]:
#018
print("*"*6)
print("*    *")
print("*    *")
print("*"*6)

******
*    *
*    *
******

In [ ]:
#019
A = "PYTHON"
print(A[0])

P

In [ ]:
#020
A = "I LOVE PYTHON"
print(A[2])
print(A[-6])

L
P

In [ ]:
#021
A = "I LOVE PYTHON"
print(A[2:6])

LOVE

In [ ]:
#022
A = "I LOVE PYTHON"
print(A[-6:])

PYTHON

In [ ]:
#023
A = "I LOVE PYTHON"
print(A[:2] + "WANT" + A[-7:])

I WANT PYTHON

In [ ]:
#024
A = "PYSON"
print(A.replace("S","TH"))

PYTHON

In [ ]:
#025
print("이름: %s" %"홍길동")
print("나이: %d" %20)

이름: 홍길동
나이: 20

In [ ]:
#026
print("I studied for %d hours to do %s." %(2, "python"))

I studied for 2 hours to do python.

In [ ]:
#027
percent = 25
print("%d\\%|■■■         |"% percent)

TypeError: ignored

In [ ]:
#028
percent, progressbar = 50,

ValueError: ignored

In [ ]:
#029
A = "python"
B = "love"
print(f"| {B} {A}.")

| love python.

In [ ]:
#030
print("I {0} {1}.".format("love","python"))

I love python.

In [ ]:
#031
print("I {second} {first}.".format(first="python",second="love"))

I love python.

In [ ]:
#032 - 퍼센티지 변
print('{}'.format(0.125))

In [ ]:
#033
print("""\
{_star:}
{_text:^50}
{_star:}\
""".format(_star="*" * 50, _text = "I LOVE PYTHON"))

**************************************************
                  I LOVE PYTHON
**************************************************

In [ ]:
#034
text = """\
**************************************************
                  I LOVE PYTHON
**************************************************\
"""
text = text.replace("*","#")
print(text)

##################################################
                  I LOVE PYTHON
##################################################

In [ ]:
#035
text = """\
**************************************************
                  I LOVE PYTHON
**************************************************\
"""
text = text.replace("*","").lstrip()
print(text)

I LOVE PYTHON

In [ ]:
#036
text = "PYTHON"
print(text.lower())

python

## 문제2 - 자료형

In [ ]:
#001
fruits = ['귤','사과','오렌지','배','바나나']
print(fruits)

['귤', '사과', '오렌지', '배', '바나나']

In [ ]:
#002
fruits = ['귤','사과','오렌지','배','바나나']

fruits.append('돌')
fruits[1] = '감'
print(fruits)

['귤', '감', '오렌지', '배', '바나나', '돌']

In [ ]:
#003
fruits = ['귤', '감', '오렌지', '배', '바나나', '돌']

fruits.insert(1, '사과')
del fruits[-1]
print(fruits)

['귤', '사과', '감', '오렌지', '배', '바나나']

In [ ]:
#004
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

num = num*3
num.reverse()
print(num)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
#005
num = ['python', 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(num[-2:1:-2])

[8, 6, 4, 2]

In [ ]:
#006                  - 다
num = ['python', 1, 2, 3, 4, 5, 6, 7, 8, 9]
print()

<map object at 0x7fe640607850>

In [ ]:
#007           = map 사용법 다
text = "1,2,3,4,5,6,7,8,9"

print(text)

<map object at 0x7fe640458670>